<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Mageguru_Customrequest::request" sortOrder="10" title="request">
					<resource id="Mageguru_Customrequest::request_save" sortOrder="10" title="Save request"/>
					<resource id="Mageguru_Customrequest::request_delete" sortOrder="20" title="Delete request"/>
					<resource id="Mageguru_Customrequest::request_update" sortOrder="30" title="Update request"/>
					<resource id="Mageguru_Customrequest::request_view" sortOrder="40" title="View request"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
