<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="mageguru_customrequest" id="mageguru_customrequest">
			<module before="Magento_Backend" name="Mageguru_Customrequest"/>
		</route>
	</router>
</config>
